@import "styles/variables.scss";

.header{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding: 30px $desktop-padding-x;
    background: #001529;

    & > span{
        position: relative;
        width: 44px;
        height: 44px;
    }

    img{
        object-fit: cover;
    }
}
